.shopping-cart .title {
    margin-bottom: 5vh;
  }

  .shopping-cart .card {
    margin: auto;
    max-width: 950px;
    width: 90%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    border: transparent;
  }

  @media (max-width: 767px) {
    .shopping-cart .card {
      margin: 3vh auto;
    }
  }

  .shopping-cart .cart {
    background-color: #fff;
    padding: 4vh 5vh;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
  }

  @media (max-width: 767px) {
    .shopping-cart .cart {
      padding: 4vh;
      border-bottom-left-radius: unset;
      border-top-right-radius: 1rem;
    }
  }

  .shopping-cart .summary {
    background-color: #ddd;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 4vh;
    color: rgb(65, 65, 65);
  }

  @media (max-width: 767px) {
    .shopping-cart .summary {
      border-top-right-radius: unset;
      border-bottom-left-radius: 1rem;
    }
  }

  .shopping-cart .summary .col-2 {
    padding: 0;
  }

  .shopping-cart .summary .col-10 {
    padding: 0;
  }

  .shopping-cart .row {
    margin: 0;
  }

  .shopping-cart .title b {
    font-size: 1.5rem;
  }

  .shopping-cart .main {
    margin: 0;
    padding: 2vh 0;
    width: 100%;
  }

  .shopping-cart .col-2,
  .shopping-cart .col {
    padding: 0 1vh;
  }

  .shopping-cart a {
    padding: 0 1vh;
  }

  .shopping-cart .close {
    margin-left: auto;
    font-size: 0.7rem;
  }

  .shopping-cart .cart-image img {
    width: 3.5rem;
  }

  .shopping-cart h5 {
    margin-top: 4vh;
  }

  .shopping-cart hr {
    margin-top: 1.25rem;
  }

  .shopping-cart form {
    padding: 2vh 0;
  }

  .shopping-cart select {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1.5vh 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
  }

  .shopping-cart input {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
  }

  .shopping-cart input:focus::-webkit-input-placeholder {
    color: transparent;
  }

  .shopping-cart .btn {
    background-color: #000;
    border-color: #000;
    color: white;
    width: 100%;
    font-size: 0.7rem;
    margin-top: 4vh;
    padding: 1vh;
    border-radius: 0;
  }

  .shopping-cart .btn:focus {
    box-shadow: none;
    outline: none;
    box-shadow: none;
    color: white;
    -webkit-box-shadow: none;
    -webkit-user-select: none;
    transition: none;
  }

  .shopping-cart .btn:hover {
    color: white;
  }

  .shopping-cart a {
    color: black;
  }

  .shopping-cart a:hover {
    color: black;
    text-decoration: none;
  }

  .shopping-cart #code {
    background-image: linear-gradient(
        to left,
        rgba(255, 255, 255, 0.253),
        rgba(255, 255, 255, 0.185)
      ),
      url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: center;
  }
  .shopping-cart .cart-item-list-wrapper {
    height: 60vh;
    overflow-x: auto;
    margin-bottom: 15px;
  }

  .empty-cart-img {
    height: 300px;
  }

  .card-count {
    width: 1.5rem;
    display: inline-block;
    text-align: center;
  }
